.vscode/
*.exe
Engine/.vs/
/.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
App/obj/*.obj
App/CMakeFiles/*
App/cmake_install.cmake
App/cmake_uninstall.cmake
App/CMakeCache.txt
App/CMakeFiles/
*.pch
*.tlog
*.lastbulidstate
*.log
*.pdb
build/*
*.idb
.sconsign.dblite
docs/*
Bin/*
App/*
Editor/Build/*
Engine/Build/*